/* 公共部分 */

/*左侧飞进*/
/*#animation{
-webkit-animation:bounceInLeft 1s .2s ease both;
-moz-animation:bounceInLeft 1s .2s ease both;}*/
@-webkit-keyframes bounceInLeft{
0%{opacity:0;
-webkit-transform:translateX(-2000px)}
60%{opacity:1;
-webkit-transform:translateX(30px)}
80%{-webkit-transform:translateX(-10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceInLeft{
0%{opacity:0;
-moz-transform:translateX(-2000px)}
60%{opacity:1;
-moz-transform:translateX(30px)}
80%{-moz-transform:translateX(-10px)}
100%{-moz-transform:translateX(0)}
}

/* 右侧飞进 */
@-webkit-keyframes bounceInRight{
0%{opacity:0;
-webkit-transform:translateX(2000px)}
60%{opacity:1;
-webkit-transform:translateX(-30px)}
80%{-webkit-transform:translateX(10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceInRight{
0%{opacity:0;
-moz-transform:translateX(2000px)}
60%{opacity:1;
-moz-transform:translateX(-30px)}
80%{-moz-transform:translateX(10px)}
100%{-moz-transform:translateX(0)}
}

/* 上方飞进 */
@-webkit-keyframes bounceInDown{
0%{opacity:0;
-webkit-transform:translateY(-2000px)}
60%{opacity:1;
-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes bounceInDown{
0%{opacity:0;
-moz-transform:translateY(-2000px)}
60%{opacity:1;
-moz-transform:translateY(30px)}
80%{-moz-transform:translateY(-10px)}
100%{-moz-transform:translateY(0)}
}

/* 中间飞进 */
@-webkit-keyframes bounceIn{
0%{opacity:0;
-webkit-transform:scale(.3)}
50%{opacity:1;
-webkit-transform:scale(1.05)}
70%{-webkit-transform:scale(.9)}
100%{-webkit-transform:scale(1)}
}
@-moz-keyframes bounceIn{
0%{opacity:0;
-moz-transform:scale(.3)}
50%{opacity:1;
-moz-transform:scale(1.05)}
70%{-moz-transform:scale(.9)}
100%{-moz-transform:scale(1)}
}


/*右侧淡入*/
/*#animation{
-webkit-animation:fadeInRight 1s .2s ease both;
-moz-animation:fadeInRight 1s .2s ease both;}*/
@-webkit-keyframes fadeInRight{
0%{opacity:0;
-webkit-transform:translateX(20px)}
100%{opacity:1;
-webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInRight{
0%{opacity:0;
-moz-transform:translateX(20px)}
100%{opacity:1;
-moz-transform:translateX(0)}
}

/*左侧淡入*/
/*#animation{
-webkit-animation:fadeInLeft 1s .2s ease both;
-moz-animation:fadeInLeft 1s .2s ease both;}*/
@-webkit-keyframes fadeInLeft{
0%{opacity:0;
-webkit-transform:translateX(-20px)}
100%{opacity:1;
-webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInLeft{
0%{opacity:0;
-moz-transform:translateX(-20px)}
100%{opacity:1;
-moz-transform:translateX(0)}
}
/* 下方淡入 */
@-webkit-keyframes fadeInUp{
0%{opacity:0;
-webkit-transform:translateY(20px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUp{
0%{opacity:0;
-moz-transform:translateY(20px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}
/* 底部淡入 */
@-webkit-keyframes fadeInUpBig{
0%{opacity:0;
-webkit-transform:translateY(2000px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUpBig{
0%{opacity:0;
-moz-transform:translateY(2000px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}

/* 上方淡入 */
@-webkit-keyframes fadeInDown{
0%{opacity:0;
-webkit-transform:translateY(-20px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{
0%{opacity:0;
-moz-transform:translateY(-20px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}


/* 右边进入不晃 */
@-webkit-keyframes InFromRight{
0%{
-webkit-transform:translateX(2000px)}
100%{
-webkit-transform:translateX(0)}
}
@-moz-keyframes InFromRight{
0%{
-moz-transform:translateX(2000px)}
100%{
-moz-transform:translateX(0)}
}

/* 左边进入不晃 */
@-webkit-keyframes InFromLeft{
0%{
-webkit-transform:translateX(-2000px)}
100%{
-webkit-transform:translateX(0)}
}
@-moz-keyframes InFromLeft{
0%{
-moz-transform:translateX(-2000px)}
100%{
-moz-transform:translateX(0)}
}

/* 下边进入不晃 */
@-webkit-keyframes InFromBottom{
0%{
-webkit-transform:translateY(2000px)}
100%{
-webkit-transform:translateY(0)}
}
@-moz-keyframes InFromBottom{
0%{
-moz-transform:translateY(2000px)}
100%{
-moz-transform:translateY(0)}
}

/* 上边进入不晃 */
@-webkit-keyframes InFromTop{
0%{
-webkit-transform:translateY(-2000px)}
100%{
-webkit-transform:translateY(0)}
}
@-moz-keyframes InFromTop{
0%{
-moz-transform:translateY(-2000px)}
100%{
-moz-transform:translateY(0)}
}


/* 闪光灯 */
@-webkit-keyframes flash{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0;}
}
@-moz-keyframes flash{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0;}
}

/* 闪光灯2 */
@-webkit-keyframes flash2{
0%,40%,80%{opacity: 0;}
20%,60%,100%{opacity: 1;}
}
@-moz-keyframes flash2{
0%,40%,80%{opacity: 0;}
20%,60%,100%{opacity: 1;}
}

/* 跳进 */
@-webkit-keyframes rotateInDownLeft{
0%{-webkit-transform-origin:left bottom;
-webkit-transform:rotate(-90deg);
opacity:0}
100%{-webkit-transform-origin:left bottom;
-webkit-transform:rotate(0);
opacity:1}
}
@-moz-keyframes rotateInDownLeft{
0%{-moz-transform-origin:left bottom;
-moz-transform:rotate(-90deg);
opacity:0}
100%{-moz-transform-origin:left bottom;
-moz-transform:rotate(0);
opacity:1}
}

/* 脉冲 心跳 */
@-webkit-keyframes pulse{
0%{-webkit-transform:scale(1)}
50%{-webkit-transform:scale(1.1)}
100%{-webkit-transform:scale(1)}
}
@-moz-keyframes pulse{
0%{-moz-transform:scale(1)}
50%{-moz-transform:scale(1.1)}
100%{-moz-transform:scale(1)}
}

/* 旋转淡入 */
@-webkit-keyframes rotateIn{
0%{-webkit-transform-origin:center center;
-webkit-transform:rotate(-200deg);
opacity:0}
100%{-webkit-transform-origin:center center;
-webkit-transform:rotate(0);
opacity:1}
}
@-moz-keyframes rotateIn{
0%{-moz-transform-origin:center center;
-moz-transform:rotate(-200deg);
opacity:0}
100%{-moz-transform-origin:center center;
-moz-transform:rotate(0);
opacity:1}
}
